@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-size: 1.125rem;
	line-height: 1.56;
	background-color: hsl(0, 0%, 8%);
}

@layer utilities {
	.wrapper {
		width: calc(100% - 2rem);
		max-width: 69.395rem;
		margin-inline: auto;
	}
	@media (min-width: 37.5em) {
		/* 600px */
		.wrapper {
			width: calc(100% - 3.75rem);
		}
	}
}
